{{#section 'head'}}
<link rel="stylesheet" href="/styles/uploadfile-form.css">
{{/section}}

<div id="app">
	<div class="comWidth clearfix">
		<div class="upload-content">
			<label class="upload-button">
				Please select a file
				<input type="file" @change="upload(1,$event,function(e){$(e.target).val('')})" multiple>	
			</label>
			<div class="content">
				<div class="file" v-for="v in files1">
					<span class="filename">\{{v.name}}</span>
					<div class="jd">
						<div :style="{width:v.jd+'%'}"></div>
					</div>
					<span v-if="!v.txt">\{{v.jd}}%</span>
					<span v-else>\{{v.txt}}</span>
				</div>
			</div>
		</div>
		
		<div class="upload-content">
			<label class="upload-button">
				Please select a file
				<input type="file" @change="upload(2,$event,function(e){$(e.target).val('')})" multiple>	
			</label>
			<div class="content">
				<div class="file" v-for="v in files2">
					<span class="filename">\{{v.name}}</span>
					<div class="jd">
						<div :style="{width:v.jd+'%'}"></div>
					</div>
					<span v-if="!v.txt">\{{v.jd}}%</span>
					<span v-else>\{{v.txt}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="comWidth clearfix">
		<div class="upload-content">
			<label class="upload-button">
				Please select a file
				<input type="file" @change="upload(3,$event,function(e){$(e.target).val('')})" multiple>	
			</label>
			<div class="content">
				<div class="file" v-for="v in files3">
					<span class="filename">\{{v.name}}</span>
					<div class="jd">
						<div :style="{width:v.jd+'%'}"></div>
					</div>
					<span v-if="!v.txt">\{{v.jd}}%</span>
					<span v-else>\{{v.txt}}</span>
				</div>
			</div>
		</div>

		<div class="upload-content">
			<label class="upload-button">
				Please select a file
				<input type="file" @change="upload(4,$event,function(e){$(e.target).val('')})" multiple>	
			</label>
			<div class="content">
				<div class="file" v-for="v in files4">
					<span class="filename">\{{v.name}}</span>
					<div class="jd">
						<div :style="{width:v.jd+'%'}"></div>
					</div>
					<span v-if="!v.txt">\{{v.jd}}%</span>
					<span v-else>\{{v.txt}}</span>
				</div>
			</div>
		</div>
	</div>
</div>

{{#section 'jq'}}
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script>
	new Vue({
		el:'#app',
		data:{
			files1:[],
			files2:[],
			files3:[],
			files4:[],
			urls:[
				'/users/upload'
			]
		},
		mounted:function(){
			this.files2 = [
				{
					name:'afe.rar',
					jd:100,
					txt:'已上传'
				},
				{
					name:'bdhfj.mp4',
					jd:100,
					txt:'已上传'
				}
			];
			this.files3 = [
				{
					name:'ghgggg.avi',
					jd:100,
					txt:'已上传'
				}
			]
		},
		methods:{
			upload:function(type,e,fn){
				var _this = this;
				var files = e.target.files;
				var thisfiles = this['files'+type];
				var url = this.urls[0];
				var k = true;
				for(i in files){
					var isfile = thisfiles.some(function(obj){
							return obj.name == files[i].name;
						});
					if(isfile){
						k = false;
					}
				}
				if(!k){
					alert('已有此文件');
					$(e.target).val('');
					return;
				}
				for(i in files){
					if(!isNaN(i)){
						var fd = new FormData();
						fd.append('file',files[i]);
						thisfiles.push({
							name:files[i].name,
							jd:0,
							txt:''
						});
						// $.ajax({
						// 	url:'/users/upload',
						// 	type:'post',
						// 	data:fd,
						// 	contentType:false,
						// 	processData:false,
						// 	success:function(data){
						// 		if(data.msg == 'success'){
						// 			thisfiles.map(function(obj){
						// 				if(obj.name === data.filename){
						// 					obj.txt = '上传成功！';
						// 				}
						// 				return obj;
						// 			});
						// 		}
						// 	},
						// 	xhr:function(){
						// 		var xhr = $.ajaxSettings.xhr();
						// 		if(!xhr.name){
						// 			xhr.name = files[i].name;
						// 		}
						// 		if(xhr.upload){
						// 			xhr.upload.addEventListener('progress',function(e){
						// 				var cjd = parseInt(e.loaded/e.total*100);
						// 				if(cjd<80){
						// 					thisfiles.map(function(obj){
						// 						if(obj.name === xhr.name){
						// 							obj.jd = cjd
						// 						}
						// 						return obj;
						// 					});
						// 				}else{
						// 					thisfiles.map(function(obj){
						// 						if(obj.name === xhr.name){
						// 							obj.txt = '解析中。。';
						// 							obj.jd = cjd;
						// 						}
						// 						return obj;
						// 					});
						// 				}
						// 			});
						// 		}
						// 		return xhr;
						// 	}
						// });
						// 原生ajax发送
						(function(){
							var xmlHttp = new XMLHttpRequest();
							xmlHttp.onreadystatechange = function () {
							    if (xmlHttp.readyState == 4) {
							        if (xmlHttp.status == 200) {
							            var data = JSON.parse(xmlHttp.responseText);
							            thisfiles.map(function (obj) {
							                if (obj.name == data.filename) {
							                    obj.jd = 100;
							                    obj.txt = '上传成功！';
							                }
							                return obj;
							            });
									}
							    }
							}
							xmlHttp.open("post", '/users/upload');
							if (!xmlHttp.name) {
							    xmlHttp.name = files[i].name;
							}
							xmlHttp.upload.onprogress = function (e) {
								var cjd = parseInt(e.loaded/e.total*100);
								if (cjd <= 80) {
								    thisfiles.map(function (obj) {
								        if (obj.name === xmlHttp.name) {
								            obj.jd = cjd;
								        }
								        return obj;
								    });
								} else {
								    thisfiles.map(function (obj) {
								        if (obj.name === xmlHttp.name) {
								            obj.jd = cjd;
								            obj.txt = '解析中。';
								        }
								        return obj;
								    });
								}
								console.log(xmlHttp.name);

							};
							xmlHttp.send(fd);
						})();
					}
				}

				fn(e);
			}
		}
	});
</script>
{{/section}}