{{#section 'head'}}
<link rel="stylesheet" href="/styles/home.css">
{{/section}}

<div class="clearfix comWidth">
	<h1>welcome Eserver!</h1>
	{{> weather}}
	<div class="right-cont">
		<div id="fortune"></div>
		<div class="vacations">
			<h2>Vacations</h2>
			{{#each vacations}}
				<a href="http://www.baidu.com">
					<div class="vacation">
						<h3>{{name}}</h3>
						<span class="price">{{price}}</span>
					</div>
				</a>
			{{/each}}
		</div>
	</div>
</div>
<div class="clearfix comWidth">
	<p class="currencys">
		Currency:
		<a href="/set-currency/USD" class="currency {{currencyUSD}}">USD</a>|
		<a href="/set-currency/GBP" class="currency {{currencyGBP}}">GBP</a>|
		<a href="/set-currency/BTC" class="currency {{currencyBTC}}">BTC</a>
	</p>
</div>

{{#section 'jq'}}
<script src="https://cdn.bootcss.com/handlebars.js/4.0.11/handlebars.min.js"></script>
<script id="fortuneTemplate" type="text/x-handlebars-template">
	<p>your fortune:</p>
	<p>\{{fortune}}</p>
</script>
<script src="/javascripts/home.js"></script>
{{/section}}