<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eserver</title>
	<link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/styles/common.css">
	{{{_sections.head}}}
</head>
<body>
	{{#if flash}}
		<div class="alert alert-dismissible alert-{{flash.type}}">
			<button class="close"></button>
			<strong>{{flash.intro}}</strong>{{{flash.message}}}
		</div>
	{{/if}}
	<header class="comWidth">
		<h1 class="title">
			<a class="logo" href="//www.darke7.cn"><img src="{{static '/images/logo.jpg'}}" alt="www.darke7.cn"></a>
			<span>Travel agencies</span>
		</h1>
	</header>
	{{{body}}}
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	{{{_sections.jq}}}
</body>
</html>